spring:
  profiles:
    group:
      default: dev-db
      test: test-db

logging:
  level:
    root: info

springdoc:
  swagger-ui:
    path: /swagger-ui.html

management:
  #endpoints.web.exposure.include: caches, health, metrics
  endpoints.web.exposure.include: '*'